.content {
	position: relative;
	max-width: 1300px;
	width: calc(100% - 140px);
	margin: 0 auto;

	& > * {
		color: var(--primary);
		font-family: 'OpenSans';
	}

	.back {
		position: relative;
		margin-top: 18px;
		font-size: 1.5em;
		display: inline-flex;
		align-items: center;

		&::before {
			content: '';
			position: absolute;
			right: -7px;
			width: 20px;
			height: 2px;
			background: var(--primary);
		}
	}

	.header {
		width: 100%;
		height: 350px;
		margin: 20px 0;

		.banner {
			width: 100%;
			height: 100%;
			object-fit: cover;
			border-radius: 10px;
		}
	}

	.container {
		display: grid;
		grid-template-columns: 1fr 300px;
		column-gap: 80px;
		justify-content: space-between;

		.index {
			height: 100%;
			display: flex;
			flex-direction: column;
			align-items: flex-end;

			.related {
				padding: 10px 30px 0px 30px;

				a {
					width: 100%;
					box-shadow: none;
					margin-bottom: 10px;
				}
			}

			.indexList {
				position: relative;
				color: var(--primary);
				width: 300px;
				border-radius: 10px;
				padding: 10px 60px;
				box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.05);
				margin-bottom: 30px;
				overflow: hidden;
				background: var(--whiteDark);

				h2 {
					text-align: center;
					font-weight: 500;
					margin-bottom: 35px;
					margin-top: 10px;
					font-size: 1.4em;
					font-family: 'Futura';
				}

				ul {
					list-style: initial;

					li {
						margin-bottom: 20px;

						a {
							color: var(--primary);
							font-family: 'Futura';
						}

						ul {
							margin-left: 20px;
							li {
								line-height: 1.1;
								margin: 20px 0;

								a {
									color: var(--primary);
									opacity: 0.8;
									font-family: 'Futura';
								}
							}
						}
					}
				}
			}
		}

		.contentText {
			width: 100%;
			overflow: hidden;
			margin-bottom: 30px;

			.likes {
				width: 100%;
				margin-bottom: 30px;
				padding-bottom: 10px;
				border-bottom: 2px solid var(--primary);
				display: flex;
				align-items: center;
				justify-content: space-between;

				ul:first-child {
					display: flex;

					li {
						width: 30px;
						cursor: pointer;

						svg {
							fill: transparent;
							transition: fill 0.3s ease-in-out;
						}
					}

					.starFilled {
						svg {
							fill: var(--primary);
						}
					}
				}

				ul:last-child {
					display: flex;

					li {
						margin-left: 10px;

						a {
							color: var(--primary);
							svg {
								fill: transparent;
								transition: fill 0.3s ease-in-out;
							}
							svg:hover {
								fill: var(--primary);
							}
						}
					}

					li:nth-child(3) {
						margin-left: 5px;
						margin-right: -5px;
					}
				}
			}

			.likesTitle {
				margin-top: 30px;
				margin-bottom: 10px;
				display: flex;
				align-items: center;
				font-family: 'Manrope';
				color: var(--primary);
				font-size: 1.1em;
				opacity: 0.7;
				font-weight: 400;

				span {
					font-weight: 500;
					margin: 0 10px;
				}

				i {
					cursor: pointer;
				}
			}

			.head {
				margin: 10px 0;

				span {
					color: var(--primary);
					font-weight: 500;
					font-family: 'Manrope';
					opacity: 0.6;
				}
			}

			h1 {
				font-family: 'Manrope';
				font-weight: 500;
				font-size: 2em;
			}
		}
	}
}

.desc {
	font-family: 'OpenSans';
	color: var(--primary);
	font-weight: 400;
	font-size: 1.2em;
	line-height: 1.3;
}

.main {
	font-family: 'OpenSans';
	color: var(--primary);
	font-size: 1.1em;
	line-height: 1.2;

	ul {
		list-style: disc;
		margin-left: var(--margins);
	}

	h2 {
		margin: 20px 0;
		font-size: 1.7em;
		font-weight: 400;
		scroll-margin-top: calc(var(--navHeight) + 10px);
	}

	a {
		color: var(--deepOrange);
		font-weight: bold;
	}

	pre + h2 {
		margin-top: 15px;
	}

	strong {
		font-weight: bold;
		opacity: 0.6;
	}

	h3 {
		margin: 15px 0;
		font-size: 1.4em;
		opacity: 0.9;
		font-weight: 400;
		scroll-margin-top: calc(var(--navHeight) + 10px);
	}
}

@media screen and (max-width: 1200px) {
	.content {
		width: 1030px;
		.container {
			column-gap: var(--margins);
		}
	}
}

@media screen and (max-width: 1100px) {
	.content {
		width: 930px;
	}
}

@media screen and (max-width: 1000px) {
	.content {
		width: 100%;
		padding: 0 var(--margins);

		.container {
			grid-template-columns: 100%;
			column-gap: 0;
			.index {
				display: none;
			}
		}
	}
}

@media screen and (max-width: 965px) {
	.content {
		margin-top: 15px;
	}
}

@media screen and (max-width: 700px) {
	.content {
		.header {
			height: 300px;
		}
	}
}

@media screen and (max-width: 600px) {
	.content {
		.header {
			height: 200px;
		}
	}
}

@media screen and (max-width: 500px) {
	.content {
		.header {
			height: 150px;
		}
	}

	.content {
		.container {
			.contentText {
				.likes {
					ul:first-child {
						li {
							width: 30px;
						}
					}

					ul:last-child {
						li {
							a {
								i {
									font-size: 1.5em;
								}
							}
						}
					}
				}
			}
		}
	}
}

@media screen and (max-width: 500px) {
	.content {
		.container {
			.contentText {
				.likes {
					ul:first-child {
						li {
							i {
								padding: 0 5px;
							}
						}
					}
				}
			}
		}
	}
}
