.showMenu {
	display: none;
}

.nav {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 5;
	width: 100%;
	padding: 20px 30px;
	display: flex;
	align-items: center;
	justify-content: center;
	box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.1);
	background: var(--whiteDark);
}

.navContent {
	position: relative;
	width: 100%;
	max-width: 1200px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: var(--primary);
	overflow: hidden;
}

.menuBtn {
	width: 40px;
	height: 25px;
	border-radius: 0;
	box-shadow: none;
	display: none;
	grid-template-columns: 1fr;
	grid-template-rows: repeat(3, 4px);
	row-gap: 7px;
	align-content: center;
	justify-items: flex-end;
	transition: transform 0.3s ease-in-out 0.3s;

	span {
		width: 100%;
		height: 100%;
		border-radius: 100px;
		background: var(--primary);
		transition: all 0.3s ease-in-out;
	}

	span:nth-child(1) {
		width: 90%;
	}

	span:nth-child(3) {
		width: 70%;
	}
}

.logo {
	display: flex;
	align-items: center;

	img {
		margin-left: -4px;
		width: 50px;
	}

	div {
		width: 92px;
		color: var(--primary);
		margin-left: 15px;
		font-size: 1em;
		font-weight: 400;
		font-family: 'Manrope';

		h1 {
			font-size: 1.1em;
		}

		p {
			font-weight: 300;
		}
	}
}

.sections {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);

	ul {
		width: 100%;
		display: grid;
		grid-template-columns: auto auto auto auto auto;
		grid-template-rows: 1fr;
		align-items: center;
		column-gap: 30px;

		li {
			&:last-child {
				display: none;
			}

			&:nth-child(5) {
				a::before {
					transform: translateY(-50%) scaleX(1);
				}
			}

			a {
				color: var(--primary);
				font-family: 'Futura';
				font-size: 1.05em;
				text-decoration: none;
				font-weight: 400;
				position: relative;

				&::before {
					content: '';
					position: absolute;
					top: 50%;
					left: -5px;
					width: calc(100% + 10px);
					transform: translateY(-50%) scaleX(0);
					height: 2px;
					background: var(--primary);
					transition: transform 0.3s ease-in-out;
				}

				&:hover::before {
					transform: translateY(-50%) scaleX(1);
				}

				&:hover {
					font-weight: 500;
				}
			}
		}
	}

	.talkBtn {
		display: none;
	}
}

.btn {
	display: grid;
	grid-template-columns: auto auto auto;
	grid-template-rows: 1fr;
	align-items: center;
	column-gap: 15px;
	font-size: 1.3em;

	button {
		color: var(--primary);
		cursor: pointer;

		svg {
			fill: transparent;
			transition: fill 0.3s ease-in-out, transform 0.3s ease-in-out;
		}

		svg:hover {
			transform: rotate(30deg);
			fill: var(--primary);
		}
	}

	label {
		cursor: pointer;
	}

	ul {
		display: flex;

		li:nth-child(1) {
			border-right: 2px solid var(--primary);
			padding-right: 7.5px;
		}

		li:nth-child(2) {
			padding-left: 7.5px;
		}

		li > button {
			box-shadow: none;
			width: auto;
			display: inline-block;
			font-size: 0.8em;
			font-family: 'Futura';
			background: transparent;
			color: var(--primary);
			height: 25px;
		}
	}
}

.talkBtn {
	font-size: 0.8em;
	font-family: 'Futura';
	font-weight: 500;
	width: 130px;
	box-shadow: none;
	border-radius: 8px;
	color: var(--white) !important;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 45px;
	background: linear-gradient(140deg, rgba(240, 120, 22, 1) 0%, rgba(230, 15, 113, 1) 100%);
}

.activeLangBtn {
	font-weight: 500;
	font-size: 1em;
}

@media screen and (max-width: 1150px) {
	.sections {
		position: relative;
		left: 0;
		transform: none;
	}
}

@media screen and (max-width: 1024px) {
	.sections > ul {
		column-gap: 20px;
	}
}

@media screen and (max-width: 965px) {
	.nav {
		font-size: 14px;
		--displayBackground: 1 !important;
	}

	.sections {
		position: fixed;
		left: unset;
		right: -100vw;
		top: 0;
		width: 249.933px;
		height: 100vh;
		background: var(--invertedPrimary);
		box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
		transition: transform 0.6s ease-in-out 0.3s;

		ul {
			grid-template-columns: auto;
			grid-template-rows: auto auto auto auto auto;
			column-gap: 0px;
			row-gap: 60px;
			text-align: center;
			position: relative;
			margin-top: calc((var(--navHeight) / 2) - 20px);
			top: 50%;
			transform: translateY(-50%);

			li:last-child {
				display: block;
			}
		}
	}

	.menuBtn {
		display: grid;
	}

	.btn {
		position: relative;
		z-index: 3;
	}

	.sections::after {
		content: '';
		position: absolute;
		left: calc(249.933px - 100vw);
		top: 0;
		width: 100vw;
		height: 100vh;
		z-index: -2;
		background: var(--invertedPrimary);
		backdrop-filter: blur(10px);
		opacity: 0;
		transition: opacity 0.3s ease-in-out;
	}

	.showMenu:checked ~ .sections::after {
		transition: opacity 0.3s ease-in-out 0.6s;
		opacity: 0.7;
	}

	.talkBtn:nth-child(2) {
		display: none;
	}

	.sections > ul > li > a {
		font-size: 15px;
		font-weight: 500;
	}

	.sections > ul > li > .talkBtn {
		display: inline-flex;
		width: 140px;
		border-color: var(--blackPink);
	}
}

@media screen and (max-width: 400px) {
	.logo > img {
		width: 50px;
	}

	.logo > div {
		display: none;
	}
}
